.icon {
  display: inline-block;
  font-size: 1.25rem;
  height: 1em;
  fill: currentColor;
}

.icon-black {
  fill: #000;
}

.icon-white {
  fill: #fff;
}

.icon-red {
  fill: #c82228;
}

{{#shapes}}
.icon-{{base}} {
  width:({{width.inner}}/{{height.inner}})*1em;
}
{{/shapes}}