extends ../pageTemplates/main.pug

block variables
  - var keywords = 'комплексная интеграция, интеграция, автоматизация производства, автоматизация технологических процессов, проектирование щитов управления, щит управления, силовые щиты, распределительный щит, ремонт плк, ремонт программируемых логических контроллеров, ремонт контроллеров, ремонт преобразователей, ремонт преобразователей частоты, ремонт частотников, обслуживание производственного оборудования, ремонт пч, производство щитового оборудования, проектирование силовых щитов, проектирование щитов управления, монтаж, шеф-монтаж, диагностика и ремонт промышленной электроники, модернизация оборудования, контроллеры барнаул, плк барнаул, экструдер, маслопресс, ремонт экструдеров, ремонт маслопрессов, варочный котел, вибросито, ремонт вибросита, конвейер, ремонт конвейров, ГПУ, газо-поршневые установки, ремонт ГПУ, котельные';
  - var description = 'компания Комплексная интеграция предоставляет следующие услуги: автоматизацию технологических процессов, ремонт, обслуживание и модернизацию производственного оборудования, ремонт программируемых логических контроллеров, ремонт преобразователей частоты, проектирование силовых щитов, проектирование щитов управления, монтаж и шеф-монтаж, диагностика и ремонт промышленной электроники, силовые щиты, распределительные щиты';
  - var title = 'Комплексная Интеграция';
  - var faviconUrl = '/img/favicon.ico';
  
block additionStyle

block content
  h1 Hello world!

block additionScript