extends ../pageTemplates/main.pug

block variables
  - var keywords = 'комплексная интеграция, интеграция, автоматизация производства, автоматизация технологических процессов, проектирование щитов управления, щит управления, силовые щиты, распределительный щит, ремонт плк, ремонт программируемых логических контроллеров, ремонт контроллеров, ремонт преобразователей, ремонт преобразователей частоты, ремонт частотников, обслуживание производственного оборудования, ремонт пч, производство щитового оборудования, проектирование силовых щитов, проектирование щитов управления, монтаж, шеф-монтаж, диагностика и ремонт промышленной электроники, модернизация оборудования, контроллеры барнаул, плк барнаул, экструдер, маслопресс, ремонт экструдеров, ремонт маслопрессов, варочный котел, вибросито, ремонт вибросита, конвейер, ремонт конвейров, ГПУ, газо-поршневые установки, ремонт ГПУ, котельные';
  - var description = 'компания Комплексная интеграция предоставляет следующие услуги: автоматизацию технологических процессов, ремонт, обслуживание и модернизацию производственного оборудования, ремонт программируемых логических контроллеров, ремонт преобразователей частоты, проектирование силовых щитов, проектирование щитов управления, монтаж и шеф-монтаж, диагностика и ремонт промышленной электроники, силовые щиты, распределительные щиты';
  - var title = 'Комплексная Интеграция';
  - var faviconUrl = '/img/favicon.ico';
  
block additionStyle

block content
  section
    div.container
      div.row
        div.py-4.col-12.order-1.col-md-5.order-md-0
          h2.mb-4 Комплексный подход к любой задаче
          a(href='https://2gis.ru/barnaul/firm/70000001036842942').d-flex.align-items-center.mb-3
            +icon('location', 'red').flex-shrink-0.mr-1
            span 656043, г. Барнаул,ул. Короленко 113, офис 8      
          a(href='tel:+73852570176').d-flex.align-items-center.mb-3
            +icon('tel', 'red').flex-shrink-0.mr-1
            span +7 (3852) 57&ndash;01&ndash;76
          a(href="mailto:info@cisenergy.ru").d-flex.align-items-center.mb-3
            +icon('mail', 'red').flex-shrink-0.mr-1
            span info@cisenergy.ru
        div.col-12.order-0.col-md-7.order-md-1.position-relative.overflow-hidden
          img(src='/img/approach.jpg', alt='').Approach-Img
  section.text-white.Services
    div.container
      h2.text-center МЫ ПРЕДЛАГАЕМ СЛЕДУЮЩИЕ УСЛУГИ
      div.d-flex.flex-wrap
        div


block additionScript