/*
  Настройки Bootstrap
*/
$enable-validation-icons: false;
$enable-responsive-font-sizes: true;

$primary: #c82228;
/*
  Библиотеки
*/
@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/swiper/swiper";
@import "./node_modules/swiper/components/pagination/pagination";
@import "./node_modules/swiper/components/navigation/navigation";
@import "./node_modules/swiper/components/effect-fade/effect-fade";
/*
  Векторные спрайты
*/
@import "./tmp/icons";
/*
  Растровые спрайты спрайты
*/
$spritesheet-sprites: false;
@import "./tmp/sprite";
@if ($spritesheet-sprites) {
  .icon-r {
    display: inline-block;
    vertical-align: middle;
  }
  @include sprites($spritesheet-sprites);
}
/*
  Адаптивный размер шрифта html
*/
@function calc-font-size($f-min, $f-max, $v-min, $v-max) {
  $k: ($f-max - $f-min)/($v-max - $v-min);
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  @return calc( #{$k} * 100vw + #{$b} );
}

@mixin responsive-font-size($f-min, $f-max, $v-min, $v-max) {
  font-size: $f-min * 1px;
  @media (min-width: $v-min * 1px) {
    font-size: calc-font-size($f-min, $f-max, $v-min, $v-max);
  }
  @media (min-width: $v-max * 1px) {
    font-size: $f-max * 1px;
  }
}

html {
  min-width: 320px;
  @include responsive-font-size(16, 20, 320, 1200);
}

a {
  color: inherit;
  &:hover {
    color: inherit;
  }
}

h2 {
  padding: {
    bottom: 1.5rem;
  };
  margin: 0;
}

$headerColor: rgb(51, 48, 55);
$sectionColor: rgb(87, 89, 95);

.PageWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  main {
    flex: 1 0 auto;
  }
}

.Header {
  background-color: $headerColor;
}

.Header-Logo {
  width: 3rem;
  height: 3rem;
}

.Approach-Img {
  width: 100%;
  @media (min-width: map-get($grid-breakpoints, md)) {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.Services {
  background-color: $sectionColor;
}

.Services-Items {

}

.Services-Item {
  display: flex;
  align-items: center;
  //flex: 1 1 370px;
  padding: {
    bottom: 2rem;
  };
}

.Services-ItemImg {
  flex: 0 0 6rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  margin: {
    right: 1rem;
  };
}

.Services-ItemText {
  margin: {
    bottom: 0;
  };
}

.Advantages-Icon {
  font-size: 3em;
  margin-bottom: 1.5rem;
}

.Projects {
  background-color: $sectionColor;
}

.Competence {

}

.Competence-Item {
  position: relative;
  flex: 1 1 5rem;
  border: {
    width: 2px;
    color: $primary;
    style: solid;
    radius: 20px;
  }
  box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
  padding: 1.5rem 10px;
  margin: {
    left: 1.5rem;
    right: 1.5rem;
    bottom: 2rem;
    top: 1.5rem;
  }
  text-align: center;
}

.Competence-ItemImg {
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
  background-color: #fff;
  > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
  }
}

.Brands {
  background-color: $sectionColor;
}

.Brands-Item {
  display: block;
  position: relative;
  flex: 0 0 8rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
  margin: {
    left: 0.5rem;
    right: 0.5rem;
    bottom: 1.5rem;
  }
  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.Contacts-Copyright {
  font-size: 0.5rem;
}